<html style="font-family: Arial, Helvetica, sans-serif;">
    <head>
        <title>After school club</title>
        <!--script loads vue.js from a server-->
        <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
        <script src="products.js"></script>
    </head>

    <body>
        <div id="app">
            <header>
                <h1 v-text="sitename"></h1>
                <button v-on:click='showCheckout()'> Checkout {{basketItemCount}} </button>
            </header>
            <main>
                <div v-if='showProduct'>
                    <label for="sortSelect">Sort by:</label>
                        <select id="sortSelect" v-model="selectedSort" @change="sortProducts">
                            <option value="default">Default</option>
                            <option value="ascPrice">Price: Ascending</option>
                            <option value="descPrice">Price: Descending</option>
                            <option value="ascTitle">Title: Ascending</option>
                            <option value="descTitle">Title: Descending</option>
                            <option value="ascLocation">Location: Ascending</option>
                            <option value="descLocation">Location: Descending</option>
                            <option value="ascAvailability">Availability: Ascending</option>
                            <option value="descAvailability">Availability: Descending</option>
                        </select>
                    <!--div displays the product page -->
                    <div v-for="product in sortedProducts">
                        <!--The structure of each product-->
                        <h2 v-text="product.title"></h2>
                        <figure>
                            <img style="max-width:50px; max-height: 50px;" v-bind:src="product.image">
                        </figure>
                        <p v-text="product.description"></p>
                        <p>Location: {{product.location}}</p>
                        <p>Availability: {{product.availability}} spaces</p>
                        <p>Price: £ {{product.price}}</p>
                        <button v-on:click='addProduct(product)'>Add</button>
                    </div>
                </div>
                <!-- div displays checkout page with input form to store user information-->
                <div v-else>
                    <!-- Display the user's basket -->
                    <div v-if="basket.length > 0">
                        <h4>Your Basket</h4>
                        <ul>
                            <li v-for="productId in basket">
                                {{ getProductById(productId).title }} - £{{ getProductById(productId).price }}
                                <button v-on:click="removeProduct(productId)">Remove</button>
                            </li>
                        </ul>
                    </div>
                    <h3>CHECKOUT</h3>
                    <h4>Enter your information</h3>
                    <form @submit.prevent="submitForm">    
                        <p>first name:</p>
                        <input v-model.trim="order.firstName" required>
                        <p>last name:</p>
                        <input v-model.trim="order.lastName" required>
                        <p>phone number:</p>
                        <input v-model="order.phoneNumber" type="number" required>
                        <button :disabled='isSubmitDisabled' type="submit">Submit</button>
                    </form>
                </div>
            </main>
        </div>
        <script type="text/javascript">
            //creates vue.js instance
            var webstore = new Vue({
                el: '#app', 
                data: { 
                    sitename: 'After School Club Booking System',
                    products: [],
                    basket: [],
                    showProduct: true,
                    order: {
                        firstName: '',
                        lastName: '',
                        phoneNumber:'',
                    },
                    selectedSort: 'default',
                },
                
                created: function() {
                    fetch("http://localhost:3000/collections/Lessons").then(function(response){
                        response.json().then(
                            function(json){
                                webstore.products = json;
                                }
                            )
                        }
                    );
                },

                methods: {
                    //function for the add button allows the user to add a product to the basket
                    addProduct: function (product) {
                        if (product.availability > 0) {
                            this.basket.push(product.id);
                            product.availability--;
                            console.log("Added product to basket:", product.id);
                        } else {
                            alert("Out of stock");
                        }
                    },
                    //If the user has items in their basket the show checkout function allows the user
                    //to move to the next page
                    showCheckout() {
                        if (this.basket.length > 0) {
                            this.showProduct = !this.showProduct;
                        } else {
                            alert("Your basket is empty. Add items before proceeding to checkout.");
                        }
                    },
                    resetProducts() {
                        this.products = this.originalProducts();
                    },
                    //sort functions for each of the different categories
                    //slice() allows the products to be sorted without altering the original
                    sortByPriceAsc(products) {
                        return products.slice().sort(function (a, b) {
                            if (a.price > b.price) return 1;
                            if (a.price < b.price) return -1;
                            return 0;
                        });
                    },
                    sortByPriceDesc(products) {
                        return products.slice().sort(function (a, b) {
                            if (a.price > b.price) return -1;
                            if (a.price < b.price) return 1;
                            return 0;
                        });
                    },
                    sortByTitleAsc(products) {
                        return products.slice().sort(function (a, b) {
                            if (a.title.toLowerCase() < b.title.toLowerCase()) return 1;
                            if (a.title.toLowerCase() > b.title.toLowerCase()) return -1;
                            return 0;
                        });
                    },
                    sortByTitleDesc(products) {
                        return products.slice().sort(function (a, b) {
                            if (a.title.toLowerCase() < b.title.toLowerCase()) return -1;
                            if (a.title.toLowerCase() > b.title.toLowerCase()) return 1;
                            return 0;
                        });
                    },
                    sortByLocationAsc(products) {
                        return products.slice().sort(function (a, b) {
                            if (a.location.toLowerCase() < b.location.toLowerCase()) return 1;
                            if (a.location.toLowerCase() > b.location.toLowerCase()) return -1;
                            return 0;
                        });
                    },
                    sortByLocationDesc(products) {
                        return products.slice().sort(function (a, b) {
                            if (a.location.toLowerCase() < b.location.toLowerCase()) return -1;
                            if (a.location.toLowerCase() > b.location.toLowerCase()) return 1;
                            return 0;
                        });
                    },
                    sortByAvailabilityAsc(products) {
                        return products.slice().sort(function (a, b) {
                            if (a.availability > b.availability) return 1;
                            if (a.availability < b.availability) return -1;
                            return 0;
                        });
                    },
                    sortByAvailabilityDesc(products) {
                        return products.slice().sort(function (a, b) {
                            if (a.availability > b.availability) return -1;
                            if (a.availability < b.availability) return 1;
                            return 0;
                        });
                    },
                    originalProducts() {
                        return products;
                    },
                    //gets the id from the basket and finds the data for which product the id correlates to
                    getProductById(productId) {
                        return this.products.find(product => product.id === productId);
                    },
                    //splice() is used to change the contents of the array, it is used here to remove an item
                    removeProduct(productId) {
                        const index = this.basket.indexOf(productId);
                        if (index !== -1) {
                            const removedProductId = this.basket.splice(index, 1)[0];
                            const removedProduct = this.getProductById(removedProductId);
                            if (removedProduct) {
                                removedProduct.availability++; // Increase availability when removing from the basket
                            }
                        }
                    },
                    submitForm() {
                        alert("Form submitted");
                        this.order = {
                            firstName: '',
                            lastName: '',
                            phoneNumber: '',
                        };
                        this.showProduct = true;
                    },
                },
                computed: {
                    basketItemCount() {
                        return this.basket.length || "";
                    },
                    //If statements to select the different sorts
                    sortedProducts() {
                        let sorted = [];
                        if (this.selectedSort === 'ascPrice') {
                            sorted = this.sortByPriceAsc(this.products);
                        } else if (this.selectedSort === 'descPrice') {
                            sorted = this.sortByPriceDesc(this.products);
                        } else if (this.selectedSort === 'ascTitle') {
                            sorted = this.sortByTitleAsc(this.products);
                        } else if (this.selectedSort === 'descTitle') {
                            sorted = this.sortByTitleDesc(this.products);
                        } else if (this.selectedSort === 'ascLocation') {
                            sorted = this.sortByLocationAsc(this.products);
                        } else if (this.selectedSort === 'descLocation') {
                            sorted = this.sortByLocationDesc(this.products);
                        } else if (this.selectedSort === 'ascAvailability') {
                            sorted = this.sortByAvailabilityAsc(this.products);
                        } else if (this.selectedSort === 'descAvailability') {
                            sorted = this.sortByAvailabilityDesc(this.products);
                        } else {
                            sorted = this.originalProducts();
                        }
                        return sorted;
                    },
                    isSubmitDisabled() {
                        // Disable the submit button if any of the required fields are empty
                        return (
                            !this.order.firstName ||
                            !this.order.lastName ||
                            !this.order.phoneNumber
                        );
                    },
                }
            });
        </script>
    </body>
</html>
